*{
  font-family: sans-serif;
}
#caixadetexto:focus{
  border: none;
  outline: 0;
}
body{
  background-color: rgb(73, 217, 200);
}
#iconex:hover{

  cursor: pointer;
}
#iconelapis:hover{

cursor: pointer;
}
.corees:hover{
  cursor: pointer;
}